<div class="index">
  <h1>{{title}}</h1>
  <h2>Trade your time</h2>
  <section class="about"> 
    <h3>About</h3>
    <p>Time Trade is a webapp that helps people to interchange service without money but time</p>
  </section>
  <section class="comments">
    <h3>Comments</h3>
    <div class="card">
      <img src="..//images/Photoprofile.png" alt="Profile picture">
      <p>
        Comentario comentario
      </p>
    </div>
  </section>
  <div class="buttons">
    <a href="/auth/signup" class="button">Sign up</a>
    <a href="/auth/login" class="button">Login</a>
  </div>
</div>



