<div class="index">
  <h1>{{title}}</h1>
  <img src="/images/logo-icon.png" alt="logo">
  <h2>Trade your time</h2>
  <section class="about"> 
    <p>Time Trade is a webapp that helps people to interchange service without money but time</p>
  </section>
  {{#unless currentUser}}
  <div class="buttons">
    <a href="/auth/signup" class="button">Sign up</a>
    <a href="/auth/login" class="button">Login</a>
  </div>
  {{/unless}}
</div>



