<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheet/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
  <body>
    <header id="site-header">
      <nav class="nav container">
        <div class="logo">
          <a href="/"><img src="../images/logo.png" class="image" alt="logo"></a>
        </div>
        <div class="links">
          <a href="/services" class="link">Services</a>
          {{#unless currentUser}}
          <a href="/auth/login" class="link">Login</a>
          <a href="/auth/signup" class="link">Signup</a>
          {{/unless}}
          {{#if currentUser}}
          <form method="POST" action="/auth/logout">
            <button class="logout link" type="submit">Logout</button>
          </form>
          {{/if}}
        </div>
      </nav>
    </header> 
    <main id="site-main" class="container">
    {{{body}}}
    </main>
    <footer id="site-footer">Nice footer</footer>
  </body>
</html>
