<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheet/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
  <body>
    <header id="site-header">
      <nav role="navigation">
        {{!-- <div class="logo">
          <a href="/"><img src="../images/logo.png" class="image" alt="logo"></a>
        </div> --}}
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="/services"><li>Services</li></a>
            {{#unless currentUser}}
            <a href="/auth/login" ><li>Login</li></a>
            <a href="/auth/signup"><li>Signup</li></a>
            {{/unless}}
            {{#if currentUser}}
            <form method="POST" action="/auth/logout">
              <button class="logout link" type="submit"><li>Logout</li></button>
            </form>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header> 
    <main id="site-main" class="container">
    {{{body}}}
    </main>
    <footer id="site-footer">Nice footer</footer>
  </body>
</html>
