<section class="form">
  <h1>Join us!</h1>
  <form method="POST" action="/auth/signup" enctype="multipart/form-data">
    <div class="field" >
        <label>Username</label>
      <div class="card-input">
        <img src="/images/user.png">
        <input type="text" name="username" value="{{fields.username}}" placeholder="Username"/>
      </div>
    </div>
    <div class="field" >
        <label>Password: </label>
      <div class="card-input">
        <img src="/images/key.png">
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
        <label>Image</label>
        <input type="file" name="photo">
      </div>
    </div>
      {{#if message1}}
        <p class="validation">{{message1}}</p>
      {{/if}}
      {{#if message2}}
        <p class="validation">{{message2}}</p>
      {{/if}}
    <div class="submit">
      <button type="submit" class="button">Submit</button>
    </div>
      <a href="/auth/login">I already have an account</a>
  </form>
</section>
