html { 
  // background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url("/images/background1.jpeg") no-repeat center center fixed;
  background: linear-gradient(rgb(224, 56, 240), rgb(76, 180, 240)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 70px;
}

#site-header {
  color: white;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-item {
    width: 80px;
    text-align: center;
  }
}

#nav-bg {
  position: fixed;
  width: 100%;
  top: -60px;
  height: 60px;
  background-color: white;
  transition: top 0.3s;
  opacity: 0.95;
}
body.scrolled {
  #nav-bg{
    top: 0;
  }
}

#site-footer {
  color: rgb(76, 180, 240);
  padding: 5px 0;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}

#site-main {
  margin-bottom: 60px;
  text-align: center;
  justify-content: left
}

.container {
  margin: 0 10px;
}

.buttons{
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}