html { 
  // background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url("/images/background1.jpeg") no-repeat center center fixed;
  background: linear-gradient(rgb(216, 127, 72), rgb(45, 40, 40)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 70px;
}

#site-header {
  padding: 5px 0;
  color: white;
  background-color:rgba($color:  #1E252A, $alpha: 0.7);
  position: fixed;
  width: 100%;
  top: 0;
}

#site-footer {
  color: white;
  padding: 5px 0;
  background-color: #1E252A;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}

#site-main {
  margin-bottom: 60px;
  text-align: center;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}