
.error {
  text-align: center;
  padding-top: 80px;
}

#menu {
  p {
   margin-bottom: 5px;
  }
}

#signup .submit {
  padding-top: 13px;
}

.logout {
  padding-top: 10px;
}
/* index */
.index {
  padding-top: 30px;
  text-align: center;
  a {
    display: block;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }
  .card {
    img {
      width: 100%;
      border-radius: 60%;
    }
  }
  .logo-index {
    padding: 20px 0;
  }
}
/* nav-bar*/
#site-header {
  .image{
    width: 45px;
  }
  .time {
    width: 22px;
    margin-bottom: -5px;
  }
}

body.scrolled {
  .coins{
    color: rgb(166, 104, 240);
  }
}

.services, .trades{
  img {
    width: 100%;
    border-radius: 10px;
  }

  ul{
    margin: auto;
  }

  li {
    margin: auto;

  }
}

.services-create {
  h4 {
    margin: 0 10px;
  }
  input {
    padding-bottom: 10px;
  }

  ::placeholder {
    background-color: white;
    border-radius: 10px;
  }

  :-ms-input-placeholder { 
    background-color: white;
    border-radius: 10px;
  }

  ::-ms-input-placeholder {
    background-color: white;
    border-radius: 10px;
  }
}


#site-footer {
  ul {
    display: flex;
    justify-content: left;
    li {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      flex: 1;
    }
  }
}

.form {
  h1 {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  img {
    width: 30px;
  }
  input {
    font-size: 20px;
    background: transparent;
    border: 0;
    text-align: center;
    max-width: 80%;
    
  }
  input:focus, select:focus, textarea:focus {
    outline: 0;

  }
  label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
  }
}

.cost-time {
  display: inline;
}

.create {
  label {
    padding: 10px 0 0 20px;
  }
  textarea {
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
    height: 100px;
    width: 80%;
    background-color: white;
  }
  select {
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
  }
  .add {
    margin: 0;
  }
}

.trades {

  li {
    font-size: 20px;
  }
  p , a{
    font-size: 18px;
  }
  

}

.validation {
  color: rgb(176, 55, 34);
}

.profile {
  img {
    width: 100%;
    border-radius: 10px;
  }
  .bottons {
    margin: 40px 0;
  }
  h2 {
    margin: 15px;
    padding-top: 10px;
  }
  h3{
    margin: 10px 0;
  }
  .delete {
    padding: 10px;
    margin: 15px;
    background-color: #4cb4f0;
  }
}

#service-details {
  .card-container{
  background-color: #e038f0;
  .username{
  margin-top: 10px;
  }
  }
}

#services-list {
  .card-container{
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}

.trades {
  .card-container{
    background-color: #e038f0;
    .owner {
    font-size: 23px;
    font-weight: bold;
    padding-top: 15px;
    }
    h3 {
      font-size: 27px;
      font-weight: bold;
      padding: 0 0 15px 0;
    }
    p, a {
    font-size: 22px;
    padding: 10px;
    }
  }
}