
.error {
  text-align: center;
  padding-top: 80px;
}

#menu {
  p {
    color: rgb(224, 56, 240);
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.logout {
  padding-top: 10px;
}
/* index */
.index {
  padding-top: 30px;
  text-align: center;
  a {
    display: block;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  .card {
    img {
      width: 100%;
      border-radius: 60%;
    }
  }
}
/* nav-bar*/
#site-header {
  .image{
    width: 45px;
  }
  .time {
    width: 22px;
    margin-bottom: -5px;
  }
}

body.scrolled {
  .coins{
    color: rgb(166, 104, 240);
  }
}

.services, .trades{
  img {
    width: 100%;
    border-radius: 10px;
  }

  ul{
    margin: auto;
  }

  li {
    margin: auto;

  }
}

.services-create {
  h4 {
    text-align: left;
    margin: 0 10px;
  }
}


#site-footer {
  ul {
    display: flex;
    justify-content: left;
    li {
      text-align: center;
      font-size: 12px;
      flex: 1;
    }
  }
}

.form {
  h1 {
    font-size: 30px;
  }
  img {
    width: 30px;
  }
  input {
    font-size: 18px;
    background: transparent;
    border: 0;
    text-align: center;
    max-width: 80%;
  }
  input:focus, select:focus, textarea:focus {
    outline: 0;

  }
  label {
    display: block;
    font-size: 20px;
    padding-top: 5px;
    text-align: left;
  }
}

.cost-time {
  display: inline;
}

.create {
  label {
    padding: 20px 0 0 20px;
  }
  textarea {
    border-radius: 5px;
    border-color: transparent;
    height: 100px;
    width: 80%;
  }
}

.trades {

  li {
    font-size: 20px;
  }
  p , a{
    font-size: 18px;
  }
  

}

.validation {
  color: rgb(176, 55, 34);
}

.profile {
  img {
    width: 100%;
    border-radius: 10px;
  }
  .bottons {
    margin-bottom: 15px;
  }
}

#service-details {
  .card-container{
  background-color: #e038f0;
  .username{
  margin-top: 10px;
  }
  }
}

.trades {
  .card-container{
    background-color: #e038f0;
  }
}