body {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 147%;
  font-family: 'Varela Round', sans-serif;
}

.index h1 {
  font-size: 50px;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

input {
  font-family: 'Varela Round', sans-serif;
}

select{
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  text-align: center
}

textarea {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}
