body {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 147%;
  font-family: 'Varela Round', sans-serif;
}

.index h1 {
  font-size: 50px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 15px;

}

p {
  margin: auto;
}

#services-list {
  p, a{
    text-shadow: 1px 1px 3px black;

  }
  .owner{
    text-shadow: 1px 1px 3px black;
  }

}
.card-container{
  .category {
    font-size: 15px;
  }
  .service-description {
    font-size: 18px;
    padding: 10px;
  }
}
#services-details {
  .li{
    font-size: 18px;
  }
  .h3{
    font-size: 22px;
  }
}
.trades  {
  .card {
    font-size: 18px;
    padding: 10px;
  }
}

li{
  font-size: 25px;
/*   margin-bottom: 15px;
 */}
input {
  font-family: 'Varela Round', sans-serif;
}

select{
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  text-align: center
}

textarea {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}
